<div id="section-to-print">
  <div *ngFor="let autor of autors" class="container-fluid">
    <div class="row no-gutters">
      <div class="col">
        <h1>{{autor.nome}}</h1>
      </div>
    </div>



    <div class="row no-gutters items-group">
      <div class="col">
        <p class="label">Livos:</p>
        <ul class="disclaimer">
          <li *ngFor="let livro of autor.livros">
            <p><b>Título:</b> {{livro.titulo}}</p>
            <p><b>Editora:</b> {{livro.editora}}</p>
            <p><b>Edição:</b> {{livro.edicao}}</p>
            <p><b>Preço:</b> R${{livro.preco}} </p>
            <p><b>Ano:</b> {{livro.anoPublicacao}}</p>
            <hr />
          </li>

        </ul>
      </div>
    </div>



    <div class="row no-gutters">
      <div class="col">

      </div>
    </div>
  </div>
</div>
<div class="footer">
  <button class="btn btn-primary btn-lg btn-block" type="button" onclick="window.print();">Print</button>
</div>
