<a class="nav-link" routerLink="/assunto/0">Novo Assunto</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descrição</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assunto of assuntos">
      <th scope="row">{{assunto.id}}</th>
      <td>{{assunto.descricao}}</td>
      <td><a class="nav-link" routerLink="/assunto/{{assunto.id}}">Editar</a></td>
      <td><a style="cursor: pointer;" class="nav-link"(click)="delete(assunto.id)">X</a></td>
    </tr>

  </tbody>
</table>
