<a class="nav-link" routerLink="/autor/0">Novo Autor</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let autor of autors">
      <th scope="row">{{autor.id}}</th>
      <td>{{autor.nome}}</td>
      <td><a class="nav-link" routerLink="/autor/{{autor.id}}">Editar</a></td>
      <td><a style="cursor: pointer;" class="nav-link" (click)="delete(autor.id)">X</a></td>
    </tr>

  </tbody>
</table>
