<form #livroForm="ngForm" (ngSubmit)="saveLivro()" ngNativeValidate>

  <div class="form-group">
    <label for="titulo">Título:</label>
    <input type="text" [(ngModel)]="livro.titulo" class="form-control" id="titulo" name="titulo"
           required
           #titulo="ngModel">
    <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
         class="alert alert-danger">

      <div *ngIf="titulo.errors.required">
        é obrigatório
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="editora">Editora:</label>
    <input type="text" [(ngModel)]="livro.editora" class="form-control" id="editora" name="editora"
           required
           #editora="ngModel">
    <div *ngIf="editora.invalid && (editora.dirty || editora.touched)"
         class="alert alert-danger">

      <div *ngIf="editora.errors.required">
        é obrigatório
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="edicao">Edição:</label>
    <input type="number" [(ngModel)]="livro.edicao" class="form-control" id="edicao" name="edicao"
           required
           #edicao="ngModel">
    <div *ngIf="edicao.invalid && (edicao.dirty || edicao.touched)"
         class="alert alert-danger">

      <div *ngIf="edicao.errors.required">
        é obrigatório
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="anoPublicacao">Ano:</label>
    <input type="text" [(ngModel)]="livro.anoPublicacao" class="form-control" id="anoPublicacao" name="anoPublicacao"
           required
           #anoPublicacao="ngModel">

    <div *ngIf="anoPublicacao.invalid && (anoPublicacao.dirty || anoPublicacao.touched)"
         class="alert alert-danger">

      <div *ngIf="anoPublicacao.errors.required">
        é obrigatório
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="autor">Autor:</label>
    <select class="form-control" id="autor" name="autor" #autor="ngModel" [(ngModel)]="autorBase">
      <option *ngFor="let autor of autors" [ngValue]="autor">{{autor.nome}}</option>
    </select>
    <div *ngFor="let autor of livro.autors">
      <span>{{autor.nome}}</span><button (click)="remove(autor, livro.autors)">X</button>
    </div>
    <a class="btn btn-secondary" (click)="addAutor(autorBase)">add</a>
  </div>

  <div class="form-group">
    <label for="assunto">Assunto:</label>
    <select class="form-control" id="assunto" name="assunto" #assunto="ngModel" [(ngModel)]="assuntoBase">
      <option *ngFor="let assunto of assuntos" [ngValue]="assunto">{{assunto.descricao}}</option>
    </select>
    <div *ngFor="let assunto of livro.assuntos">
      <span>{{assunto.descricao}}</span><button (click)="remove(assunto, livro.assuntos)">X</button>
    </div>
    <a class="btn btn-secondary" (click)="addAssunto(assuntoBase)">add</a>
  </div>


  <p>
    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="livroForm.invalid">Salvar</button>

    <button class="btn btn-primary btn-lg btn-block" type="button" (click)="limpaLivro()">Limpar</button>
  </p>

</form>

